
notebooks/.ipynb_checkpoints
scrapes/02-23-2023/comments/.ipynb_checkpoints
scrapes/02-23-2023/subreddits/.ipynb_checkpoints
ai_sentiment/__pycache__
ai_sentiment.egg-info

data/.ipynb_checkpoints/initial_web_results-checkpoint.csv
data/.ipynb_checkpoints/news_round_0_results-checkpoint.csv
data/.ipynb_checkpoints/news_round_0_targets-checkpoint.yml
data/.ipynb_checkpoints/nyt_initial_sources-checkpoint.csv
data/.ipynb_checkpoints/reddit_initial_results-checkpoint.csv
data/.ipynb_checkpoints/reddit_round_0_targets-checkpoint.yml
data/.ipynb_checkpoints/web_initial_sources-checkpoint.csv
data/results/.ipynb_checkpoints/reddit_results_0-checkpoint.csv
scrapes/03-16-2023/subreddits/.ipynb_checkpoints/ChatGPT-new-10000-results-checkpoint.json
scrapes/03-16-2023/subreddits/.ipynb_checkpoints/MachineLearning-new-10000-results-checkpoint.json
scrapes/03-16-2023/subreddits/.ipynb_checkpoints/artificial-new-10000-results-checkpoint.json
scrapes/03-16-2023/subreddits/.ipynb_checkpoints/learnprogramming-new-10000-results-checkpoint.json
scrapes/03-16-2023/subreddits/.ipynb_checkpoints/news-new-10000-results-checkpoint.json
scrapes/03-16-2023/subreddits/.ipynb_checkpoints/technology-new-10000-results-checkpoint.json